<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497040962162-2t8ejjofg5cjb6e727tfg0rauctc3b26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497040962162-2t8ejjofg5cjb6e727tfg0rauctc3b26</string>
	<key>API_KEY</key>
	<string>AIzaSyCvj5Apdu28H7m4RKiZNkwACwIym6ohEw4</string>
	<key>GCM_SENDER_ID</key>
	<string>497040962162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vitali-Nabarouski.Your-luggage</string>
	<key>PROJECT_ID</key>
	<string>yourluggageapp-3d66f</string>
	<key>STORAGE_BUCKET</key>
	<string>yourluggageapp-3d66f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497040962162:ios:44d485d6301f02c4aa08eb</string>
</dict>
</plist>